# django
django

# django rest framework
djangorestframework

# MySQL
mysqlclient

# clean html input
bleach

# filter extern requests
django-cors-headers

# JSONField for Users
jsonfield

# JWT
djangorestframework-jwt

# redis session
django-redis-sessions

# redis cache
#django-redis-cache
django-cacheops

# requests
requests

# redis websocket
django-websocket-redis

# django-websocket-redis dependancies
uwsgi
gevent
greenlet
