# django rest framework
djangorestframework

# MySQL
mysqlclient

# clean html input
bleach

# filter extern requests
django-cors-headers

# JSONField for Users
jsonfield

# JWT
djangorestframework-jwt

# redis session
django-redis-sessions

# redis cache
django-redis-cache

# requests
requests